

/* variables */

#root {
  height: 100%;
}

:root {
  --background-color: #121212;
  --background-color-rgb: 18, 18, 18;
  --edge-opacity: 0.85;
  --text-color: #e3e9f5;
  --palifico-color: #ff588a;
  --end-round-color: #ffffff;
  --user-text-color: #a9a9a9;
  --link-color: #d48aff;
  --link-hover-color: #b574da;
  --highlight-color: #f1d9ff;
  --bid-button-color: #e3e9f5;
  --bid-button-hover-color: #c0c5cf;

  --chat-header-background-color: #2f2f2f83;

  /* cup colors */
  --cup-color-1: rgb(174, 109, 82);
  --cup-color-2: rgb(225, 44, 56);
  --cup-color-3: rgb(0, 164, 225);
  --cup-color-4: rgb(85, 164, 46);
  --cup-color-5: rgb(255, 153, 109);
  --cup-color-6: rgb(245, 177, 58);
}

#root {
  height: 100%;
  width: 100%;
}


/* app and body */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  border: 0px solid white;
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-family: 'IM Fell DW Pica', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 100%;
}


/* containers */
.container {
  border: 0px solid #e3e9f5;
  box-sizing: border-box;
  padding-left: 0%;
  padding-right: 0%;
}


.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

@media (max-width: 768px) {
  .game-container {
    flex-direction: column;
  }
}

.table-container {
  /* width: 600px;
  height: 600px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
    height: 60%;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

@media (max-width: 768px) {
  .chat-container {
    width: 100%;
    height: 40%;
  }
}

.table-text {
  transition: all 0.3s ease;
  position: absolute;
  transform: translate(-50%, -50%);
  display: inline-block;
  white-space: nowrap;
  width: auto;
  user-select: none;
}


.table-character {
  font-size: calc(1rem + 0.5vw);
}

@media (max-width: 768px) {
  .table-character {
    font-size: calc(0.8rem + 0.5vw);
  }
}

.table-move {
  font-size: calc(0.75rem + 0.75vw);
  border: 0px solid white;
  border-radius: 50px;
  padding: 10px;
  z-index: 10;
}

@media (max-width: 768px) {
  .table-move {
    font-size: calc(1rem + 0.75vw);
  }
}

.table-palifico {
  font-size: calc(1.5rem + 1.5vw);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  text-shadow: 5px 5px 2px rgba(47, 47, 47, 1);
  user-select: none;
  color: var(--palifico-color);
  z-index: 1000;
}

@media (max-width: 768px) {
  .table-palifico {
    font-size: calc(1rem + 1.5vw);
    top: 45%;
  }
}

.table-end-round-normal {
  font-size: calc(1.5rem + 1.5vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  text-shadow: 5px 5px 2px rgba(47, 47, 47, 1);
  user-select: none;
  z-index: 1000;
  color: var(--end-round-color);
}

@media (max-width: 768px) {
  .table-end-round-normal {
    font-size: calc(1rem + 1.5vw);
  }
}

.table-end-round-palifico {
  font-size: calc(1.5rem + 1.5vw);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  text-shadow: 5px 5px 2px rgba(47, 47, 47, 1);
  user-select: none;
  z-index: 1000;
  color: var(--end-round-color);
}

@media (max-width: 768px) {
  .table-end-round-palifico {
    font-size: calc(1rem + 1.5vw);
  }
}

.player-move {
  width: 100%;
}

.table-cup {
  position: relative;
  width: 60px;
  height: auto;
  z-index: 1;
}

@media (max-width: 768px) {
  .table-cup {
    width: 40px;
  }
}

.player-cup {
  cursor: pointer;
  transition: all 0.3s ease;
}

.player-cup:hover {
  transform: translateY(-10%);
}

.player-dice {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.die-image {
  width: 40px;
  height: auto;
  transition: all 0.3s ease;
  margin: 3px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .die-image {
    width: 20px;
  }
}

.player-bid-row {
  gap: 10px;
}

@media (max-width: 768px) {
  .player-bid-row {
    gap: 0px;
    padding: 0px 20px;
  }
}

.player-bid-or {
  margin: 0px 20px;
}

@media (max-width: 768px) {
  .player-bid-or {
    margin: 0px 10px;
    font-size: calc(1rem + 0.5vw);
  }
}

.header-container {
  top: 0;
  width: 100%;
  padding-top: 2%;
  position: fixed;
}

/* chat styling */

.chat-box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--user-text-color);
  box-shadow: 3px 3px 5px rgba(103, 103, 103, 0.7);
  width: 60%;
  height: 50%;
}

@media (max-width: 768px) {
  .chat-box {
    width: 80%;
    height: 90%;
  }
}

.chat-header {
  display: flex;
  justify-content: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--user-text-color);
  background-color: var(--chat-header-background-color);
  font-size: calc(1rem + 0.5vw);
  user-select: none;
}

.chat-history {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: start;
  justify-content: start;
}

.chat-message {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  padding-left: 10px;
  padding: 10px 10px;
  font-size: calc(0.75rem + 0.5vw);
}

.chat-input-container {
  border-top: 1px solid var(--user-text-color);
  background-color: var(--chat-header-background-color);
  padding: 5px 10px; /* Add some padding */
  margin-top: auto;
}

.chat-input {
  background-color: #00000000; /* Transparent background */
  border: none; /* Remove default borders */
  outline: none; /* Remove default outline */
  width: 100%;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-size: calc(1rem + .5vw); /* Relative font size */
  text-align: left;
  user-select: none;
  color: var(--text-color);
  font-family: 'IM Fell DW Pica', sans-serif;
  padding: 5px 10px;
}



/* text */

.text {
  font-family: 'IM Fell DW Pica', sans-serif;
}

.all-caps {
  font-family: 'IM Fell DW Pica SC', sans-serif;
}

.main-title {
  font-size: calc(3em + 3vw);
  user-select: none;
/*   background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997, #51cf66, #94d82d, #fcc419, #ff922b);
 */}

.home-play {
  font-size: calc(1em + 1vw);
  user-select: none;
  background: linear-gradient(45deg, #cc5de8, #845ef7 );
  /* #5c7cfa, #339af0 ); */
}

.home-about {
  font-size: calc(1em + 1vw);
  user-select: none;
  background: linear-gradient(45deg, #5c7cfa, #339af0 );
  /* #20c997, #51cf66, #94d82d, #fcc419, #ff922b); */
}


.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.about-text {
  user-select: none;
  background: linear-gradient(45deg, #5c7cfa, #339af0 );
}

.about-header {
  font-size: calc(3rem + 2vw); /* Relative font size */
  user-select: none;
}

.about-paragraphs {
  font-size: calc(1rem + 1vw); /* Relative font size */
  user-select: none;
  line-height: 1.3;
  margin-bottom: 3%;
}

.about-link {
  color: var(--link-color);
  text-decoration: none;
}

.about-link:hover {
  color: var(--link-hover-color);
}

.player-bid {
  font-size: calc(1rem + 0.5vw);
  user-select: none;
}

.end-round-text {
  font-size: calc(2rem + 1vw);
  user-select: none;
}

.header {
  font-size: calc(1.5rem + 1vw); /* Relative font size */
  user-select: none;
  /* text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}


/* cup color text */

.color-1 {
  color: var(--cup-color-1);
}
.color-2 {
  color: var(--cup-color-2);
}
.color-3 {
  color: var(--cup-color-3);
}
.color-4 {
  color: var(--cup-color-4);
}
.color-5 {
  color: var(--cup-color-5);
}
.color-6 {
  color: var(--cup-color-6);
}









/* buttons */

.button {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  user-select: none;
}

.home-button {
  background-color: none;
  font-size: calc(3rem + 1vw);
  transition: all 0.5s ease;
  border-radius: 500px;
  padding: 10px 30px;
  text-shadow: 5px 5px 5px rgba(47, 47, 47, 0.7);
}

@media (max-width: 768px) {
  .home-button {
    font-size: calc(2.5rem + 2vw);
  }
}

.home-button:hover {
  transform: translateY(-10%);
}

.home-button:active {
  transform: translateY(0%);
}

.home-play-button {
  position: absolute;
  top: 35%;
}

.home-about-button {
  position: absolute;
  top: 60%;
}

@media (max-width: 768px) {
  .home-play-button {
    top: 30%;
  }

  .home-about-button {
    top: 60%;
  }
}

.back-button {
  font-size: calc(2rem + 1vw);
}

.lets-play-button {
  font-size: calc(2rem + 1vw);
}

.bid-button {
  background-color: var(--bid-button-color);
  color: var(--background-color);
  border-radius: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(255, 246, 246, 0.7);
  cursor: pointer;
}

.bid-button:hover {
  background-color: var(--bid-button-hover-color);
}


/* player bid */

.bid-quantity {
  background-color: var(--background-color);
  border: none; /* Remove default borders */
  color: var(--text-color); /* Set text color */
  border-bottom: 2px solid var(--text-color); /* Add a line below */
  padding: 5px 0; /* Add some padding */
  outline: none; /* Remove default outline */
  width: 25%; /* Full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  text-align: center;
  font-family: 'IM Fell DW Pica', sans-serif;
}





/* setup input */
.setup-input {
  background-color: var(--background-color);
  border: none; /* Remove default borders */
  color: var(--text-color); /* Set text color */
  border-bottom: 2px solid var(--text-color); /* Add a line below */
  padding: 5px 0; /* Add some padding */
  outline: none; /* Remove default outline */
  width: 30%; /* Full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-size: calc(2rem + .5vw); /* Relative font size */
  text-align: center;
  font-family: 'IM Fell DW Pica', sans-serif;
}

@media (max-width: 768px) {
  .setup-input {
    width: 75%;
  }
}

.setup-input::placeholder {
  color: var(--text-color); /* Set placeholder color */
  opacity: 0.5; /* Make placeholder slightly transparent */
}

.setup-input:focus {
  border-bottom-color: var(--text-color); /* Keep the line color on focus */
  animation: blink-cursor 1s step-end infinite; /* Blinking cursor */
}

.setup-input-header {
  font-size: calc(2rem + 1.5vw); /* Relative font size */
  user-select: none;
}




/* setup */

.setup-char-table-container {
  width: 100%;
  height: 50%;
}

.setup-char-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  align-items: start;
  padding: 20px 20px;
}

.setup-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  text-shadow: 5px 5px 3px rgb(0, 0, 0); /* Optional: Add a shadow for better visibility */
  font-size: calc(1vw + 1.5vw); /* Relative font size */
  user-select: none;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .setup-header {
    font-size: calc(1rem + 1.5vw);
  }
}

.setup-char {
  cursor: pointer;
  padding: 10px 30px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .setup-char {
    padding: 5px 10px;
  }
}


.character-press:hover {
  transform: translateY(-10%);
}

.character-press:active {
  transform: translateY(0%);
}

.table-press:hover {
  transform: translateY(10%);
}

.table-press:active {
  transform: translateY(0%);
}


.setup-char-name {
  display: flex;
  font-size: calc(1rem + 0.5vw); /* Relative font size */
  user-select: none;
  width: 25%;
  text-align: left;
  justify-content: end;
  padding-right: 10%;
}

@media (max-width: 768px) {
  .setup-char-name {
    font-size: calc(0.8rem + 0.5vw);
    width: 40%;
  }
}

.setup-char-description {
  font-size: calc(0.8rem + 0.5vw); /* Relative font size */
  color: var(--user-text-color);
  user-select: none;
  width: 75%;
  text-align: left;
}

@media (max-width: 768px) {
  .setup-char-description {
    font-size: calc(0.6rem + 0.5vw);
    width: 60%;
  }
}






/* images */

.home-table {
  width: calc(30% + 10vw);
  opacity: 0.6;
}

@media (max-width: 768px) {
  .home-table {
    width: 100%;
  }
}

.game-table {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  opacity: 0.75;
  user-select: none;
}

@media (max-width: 768px) {
  .game-table {
    width: 60%;
  }
}







/* loading dots */ 
.dot {
  animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 20%, 50%, 80%, 100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
}


/* end round display */

.end-round {
  position: absolute;
  top: 5%;
  left: 30%;
  transform: translate(-50%, -50%);
}


/* value dropdown */

/* The container <div> - needed to position the dropdown content */
.value-dropdown {
  display: flex;
  position: relative;
  display: inline-block;
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 999;
}

/* the Dropdown Button */
.value-dropdown-button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 20px;
}

/* Dropdown Content (Hidden by Default) */
.value-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  bottom: 100%;
  z-index: 1000;
  border-radius: 10px;
}

/* Links inside the dropdown */
.value-dropdown-content span {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}

/* Change color of dropdown links on hover */
.value-dropdown-content span:hover {
  /* background-color: #38383880; */
  transform: translateY(-10%);
}


/* Show the dropdown menu on hover */
.value-dropdown:hover .value-dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.value-dropdown:hover .value-dropdown-button {
  /* background-color: #38383880; */
  transform: translateY(-10%);
}
